<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e58dcd">  <td>21/08/06 08:15:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PropertyTax_MultiPaymentMultiMethod_Check_Cash_BalanceCheck_TC_5.setUp()[pri:0, instance:Module.UC.PropertyTax_MultiPaymentMultiMethod_Check_Cash_BalanceCheck_TC_5@2a70a3d8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1356728614</td>   <td></td> </tr>
<tr bgcolor="e58dcd">  <td>21/08/06 08:15:44</td>   <td>3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PropertyTax_MultiPaymentMultiMethod_Check_Cash_BalanceCheck_TC_5.Verify_PPT_MultiPaymentMethod_Check_Cash_Trans_Tab_TC_5()[pri:0, instance:Module.UC.PropertyTax_MultiPaymentMultiMethod_Check_Cash_BalanceCheck_TC_5@2a70a3d8]">Verify_PPT_MultiPaymentMethod_Check_Cash_Trans_Tab_TC_5</td> 
  <td>main@1356728614</td>   <td></td> </tr>
<tr bgcolor="e58dcd">  <td>21/08/06 08:17:07</td>   <td>82923</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PropertyTax_MultiPaymentMultiMethod_Check_Cash_BalanceCheck_TC_5.teardown()[pri:0, instance:Module.UC.PropertyTax_MultiPaymentMultiMethod_Check_Cash_BalanceCheck_TC_5@2a70a3d8]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1356728614</td>   <td></td> </tr>
<tr bgcolor="81e082">  <td>21/08/06 08:17:07</td>   <td>82925</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PPTax_MultipleBillPayment_Check_Bal_TC_11.setUp()[pri:0, instance:Module.UC.PPTax_MultipleBillPayment_Check_Bal_TC_11@289d1c02]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1356728614</td>   <td></td> </tr>
<tr bgcolor="81e082">  <td>21/08/06 08:17:07</td>   <td>83007</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PPTax_MultipleBillPayment_Check_Bal_TC_11.Verify_PropertyTax_MultipleBillPayment_Check_Zero_Balance_After_FullPayment_TC_11()[pri:0, instance:Module.UC.PPTax_MultipleBillPayment_Check_Bal_TC_11@289d1c02]">Verify_PropertyTax_MultipleBillPayment_Check_Zero_Balance_After_FullPayment_TC_11</td> 
  <td>main@1356728614</td>   <td></td> </tr>
<tr bgcolor="81e082">  <td>21/08/06 08:18:37</td>   <td>173485</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PPTax_MultipleBillPayment_Check_Bal_TC_11.teardown()[pri:0, instance:Module.UC.PPTax_MultipleBillPayment_Check_Bal_TC_11@289d1c02]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1356728614</td>   <td></td> </tr>
</table>
