<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Default suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b7070">  <td>22/01/28 04:41:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Receipts_Employee_Balance_Report_Run_44.setUp()[pri:0, instance:Module.Receipts.AccountingReport.Receipts_Employee_Balance_Report_Run_44@365185bd]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1909546776</td>   <td></td> </tr>
<tr bgcolor="9b7070">  <td>22/01/28 04:41:02</td>   <td>3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Receipts_Employee_Balance_Report_Run_44.Verify_User_able_to_Run_Employee_Balance_Report_44()[pri:0, instance:Module.Receipts.AccountingReport.Receipts_Employee_Balance_Report_Run_44@365185bd]">Verify_User_able_to_Run_Employee_Balance_Report_44</td> 
  <td>main@1909546776</td>   <td></td> </tr>
</table>
