<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite (1)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f984f5">  <td>21/11/30 22:57:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PPT_Tax_Authority_Maintenance_New_ACH_51.Verify_PPT_Tax_Authority_Maintenance_New_ACH_51()[pri:0, instance:Module_Property_Tax.Administration.PPT_Tax_Authority_Maintenance_New_ACH_51@5579bb86]">Verify_PPT_Tax_Authority_Maintenance_New_ACH_51</td> 
  <td>main@275310919</td>   <td></td> </tr>
<tr bgcolor="f984f5">  <td>21/11/30 22:57:24</td>   <td>-66</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PPT_Tax_Authority_Maintenance_New_ACH_51.setup()[pri:0, instance:Module_Property_Tax.Administration.PPT_Tax_Authority_Maintenance_New_ACH_51@5579bb86]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@275310919</td>   <td></td> </tr>
<tr bgcolor="f984f5">  <td>21/11/30 22:57:46</td>   <td>21869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PPT_Tax_Authority_Maintenance_New_ACH_51.teardown()[pri:0, instance:Module_Property_Tax.Administration.PPT_Tax_Authority_Maintenance_New_ACH_51@5579bb86]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@275310919</td>   <td></td> </tr>
</table>
