<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Suite (2)]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8991cf">  <td>21/12/07 01:41:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DailyCheckReconciliation_withAllCheckMatched_43.Verify_DailyCheckReconciliationDepositShort_43()[pri:0, instance:Module.Receipts.AccountingReport.DailyCheckReconciliation_withAllCheckMatched_43@365185bd]">Verify_DailyCheckReconciliationDepositShort_43</td> 
  <td>main@1909546776</td>   <td></td> </tr>
<tr bgcolor="8991cf">  <td>21/12/07 01:43:40</td>   <td>126411</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DailyCheckReconciliation_withAllCheckMatched_43.Verify_DailyCheckReconciliationDepositShort_43()[pri:0, instance:Module.Receipts.AccountingReport.DailyCheckReconciliation_withAllCheckMatched_43@365185bd]">Verify_DailyCheckReconciliationDepositShort_43</td> 
  <td>main@1909546776</td>   <td></td> </tr>
<tr bgcolor="8991cf">  <td>21/12/07 01:41:34</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DailyCheckReconciliation_withAllCheckMatched_43.setUp()[pri:0, instance:Module.Receipts.AccountingReport.DailyCheckReconciliation_withAllCheckMatched_43@365185bd]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1909546776</td>   <td></td> </tr>
<tr bgcolor="8991cf">  <td>21/12/07 01:43:40</td>   <td>126343</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DailyCheckReconciliation_withAllCheckMatched_43.setUp()[pri:0, instance:Module.Receipts.AccountingReport.DailyCheckReconciliation_withAllCheckMatched_43@365185bd]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1909546776</td>   <td></td> </tr>
<tr bgcolor="8991cf">  <td>21/12/07 01:43:40</td>   <td>126342</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DailyCheckReconciliation_withAllCheckMatched_43.teardown()[pri:0, instance:Module.Receipts.AccountingReport.DailyCheckReconciliation_withAllCheckMatched_43@365185bd]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1909546776</td>   <td></td> </tr>
<tr bgcolor="8991cf">  <td>21/12/07 01:45:46</td>   <td>251751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DailyCheckReconciliation_withAllCheckMatched_43.teardown()[pri:0, instance:Module.Receipts.AccountingReport.DailyCheckReconciliation_withAllCheckMatched_43@365185bd]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1909546776</td>   <td></td> </tr>
</table>
